link(rel="stylesheet", href="/css/popup.css")
.popup-bg
	.popup-wrap
		.popup-header
			.popup-tit
			.popup-close
				i.fas.fa-times
		.popup-body
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui cumque laboriosam suscipit itaque expedita natus id distinctio sequi voluptatibus dolores non eaque maiores odit minima voluptates, enim quisquam eum obcaecati?
		.popup-footer
			.popup-24
				input(type="checkbox" name="popOut")
				span 24시간 동안 사용하지 않기
			button.btn.btn-sm.btn-danger 닫기