doctype html
html(lang="ko")
	head
		include ./inc/header.pug
	body
		include ./inc/navi.pug
		.container.my-3
			.jumbotron
				h2=title



		include ./inc/footer.pug
		include ./inc/script.pug


		//-css ->gbook_ajax
		//-title ->방명록-ajax
		//-js ->gbook.ajax.js