doctype html
html(lang="ko")
	head
		include ./inc/header.pug
	body
		include ./inc/navi.pug
		.container
			.jumbotron= `${page} 페이지 입니다.`
			.my-3.p-3.text-center.f-2 PUG로 작성된 페이지 입니다..
		include .inc/script.pug

	//- 퍼그는 <>없다,띄어쓰기가 되어있으면 안된다.
	//-title= title//-변수
	//-tap만 사용하여 들여쓰기 해야함.
