.icon {
	margin-left: 0.5rem;
	border-radius: 2px;
	color: #f9f9f9;
}

.icon.icon-new {
	background-color: tomato;
	padding: 1px 3px;
}

.icon.icon-file {
	background-color: slateblue;
	padding: 3px;
}

.icon.icon-img {
	background-color: cornflowerblue;
	padding: 3px;
}